<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../lib/vue.min.js"></script>
    <link rel="stylesheet" href="../lib/bootstrap-3.3.7.css">
</head>
<body>
<div id="app">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">添加品牌</h3>
        </div>
        <div class="panel-body form-inline">
            <label>
                Id:
                <input type="text" class="form-control" v-model="id">
            </label>

            <label>
                Name:
                <input type="text" class="form-control" v-model="name" @keyup.enter="add">
            </label>

            <!-- 在Vue中，使用事件绑定机制，为元素指定处理函数的时候，如果加了小括号，就可以给函数传参了 -->
            <input type="button" value="添加" class="btn btn-primary" @click="add()">

            <label>
                搜索名称关键字：
                <input type="text" class="form-control" v-model="keywords" v-focus v-color="'blue'">
            </label>
        </div>
    </div>

    <table class="table table-bordered table-hover table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Ctime</th>
            <th>Operation</th>
        </tr>
        </thead>
        <tbody>
        <!-- 之前， v-for 中的数据，都是直接从 data 上的list中直接渲染过来的 -->
        <!-- 现在， 我们自定义了一个 search 方法，同时，把 所有的关键字，通过传参的形式，传递给了 search 方法 -->
        <!-- 在 search 方法内部，通过 执行 for 循环， 把所有符合 搜索关键字的数据，保存到 一个新数组中，返回 -->
        <tr v-for="item in seach(keywords)" :key="item.id">
            <td>{{ item.id }}</td>
            <td v-text="item.name"></td>
            <td>{{ item.ctime | dateFormat }}</td>
            <td>
                <a href="" @click.prevent="del(item.id)">删除</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script>
    Date.prototype.Format = function (fmt) {
        var o = {
            "M+": this.getMonth() + 1, //月份
            "d+": this.getDate(), //日
            "H+": this.getHours(), //小时
            "m+": this.getMinutes(), //分
            "s+": this.getSeconds(), //秒
            "q+": Math.floor((this.getMonth() + 3) / 3), //季度
            "S": this.getMilliseconds() //毫秒
        };
        if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o)
            if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    }

    var vm = new Vue({


        el: '#app',
        data: {
            id: '',
            name: '',
            keywords: '',
            list: [
                {id: 1, name: '宝马', ctime: new Date()},
                {id: 2, name: '奔驰', ctime: new Date()}
            ]
        },
        methods: {
            add: function () {
                this.list.push({id: this.id, name: this.name, ctime: new Date()})
                this.id = this.name = '';
            },
            del: function (id) {
                var arr = this.list;
                var index = function f(arr, id) {
                    for (var i = 0; i < arr.length; i++) {
                        if (arr[i].id == id) {
                            return i;
                        }
                    }
                }
                this.list.splice(index, 1);
            },
            seach: function (keywords) {
                var arr = [];
                var l = this.list;
                for (var i = 0; i < l.length; i++) {
                    if (l[i].name.indexOf(keywords) != -1) {
                        arr.push(l[i]);
                    }
                }
                return arr;
            }

        },
        filters: {//自定义局部过滤器，采用就近原则
            dateFormat: function (date) {
                var time = new Date(date);
                return time.Format('yyyy-MM-dd HH:mm:ss');
            }
        },
        directives: {//自定义局部标签
            'color': {
                //el只得时绑定了标签得dom对象
                bind: function (el, binding) {//元素绑定到指令得时候执行
                    el.style.color = binding.value;
                },

                inserted: function (el) {//在元素插入到dom树中得时候会执行
                },

                updated: function (el) {//当Vnode更行时会执行，会执行多次
                }
            },
            'focus': {
                bind: function (el) {//元素绑定到指令的时候执行

                },

                inserted: function (el) {//在元素插入到dom树中得时候会执行
                    el.focus();
                },

                updated: function (el) {//当Vnode更行时会执行，会执行多次

                }
            }
        }
    })
</script>
</body>
</html>